.App {
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(20px + 2vmin);
  color: white;
  background-image:url("bgimage.jpg");
  position: relative;
  z-index: 1;
}

body {
  margin-bottom: 5em;
  background:rgba(161, 19, 255, 0.6);
  /* background-size: cover;   */
}

h1 {
  font-family: 'Titillium Web', sans-serif;
  font-size: 6em;
  font-style: oblique;
  color: crimson;
  font-weight: 800;
}

h2 {
  font-family: 'Fredoka One', cursive;
  font-size: 1.5em;
  font-style: oblique;
  color: cyan ;
  font-weight: 700;
}

h4 {
  font-family: 'Fredoka One', cursive;
  font-size: 2em;
  font-style: oblique;
  color: chartreuse ;
  font-weight: 700;
}


.zoom {
  padding-bottom: 150px;
  transition: transform .2s; 
  width: 300px;
  height: 100px;
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(3); 
}